---
layout: default
---

<section class="w-full bg-center bg-cover h-128" style="background-image: url(/assets/images/home.jpg)">
  <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">
    <div class="text-center">
      <h1
        class="text-4xl md:text-6xl lg:text-7xl leading-none tracking-tight font-extrabold text-gray-50 mt-10 mb-8 sm:mt-14 sm:mb-10">
        {{ page.title }}
      </h1>
      <p class="max-w-screen-lg text-lg sm:text-2xl sm:leading-10 font-medium mb-10 sm:mb-11 text-gray-50">
        If you love to learn, you are in the right place.
      </p>
      <div class="flex justify-center">
        <a href="/blog"
          class="text-gray-50 dark:text-gray-50 inline-flex items-center mx-4 no-underline hover:underline">Blog
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="w-4 h-4 ml-2 bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </a>
        <a href="/wiki"
          class="text-gray-50 dark:text-gray-50 inline-flex items-center mx-4 no-underline hover:underline">Wiki
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="w-4 h-4 ml-2 bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="bg-gray-100 dark:bg-gray-800 lg:py-12 lg:flex lg:justify-center">
  <div class="bg-white dark:bg-gray-900 lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg">
    <div class="lg:w-1/2">
      <div class="h-64 bg-cover lg:rounded-lg lg:h-full"
        style="background-image:url('{{ site.baseurl }}/assets/images/projects.jpg')"></div>
    </div>
    <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100 md:text-3xl">
        Projects
      </h2>
      <p class="mt-4 text-gray-600 dark:text-gray-300">
        Learn more about my personnal projects, mostly in IT. They can be of any
        kind but I am more interested in Python or web developpement. If you
        ever want to propose me an exciting project, feel free to contact me !
      </p>
      <div class="mt-8">
        <a href="/projects/"
          class="px-5 py-2 font-semibold transition-colors duration-200 transform rounded-md text-gray-50 bg-blue-600 hover:bg-blue-500">
          Discover my projects
        </a>
      </div>
    </div>
  </div>
</section>
<div class="bg-gray-100 dark:bg-gray-800" aria-hidden="true">
  <svg class="fill-current text-gray-200 dark:text-gray-700" version="1.1" xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 100" preserveAspectRatio="none">
    <path
      d="M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z">
    </path>
  </svg>
</div>
<section class="bg-gray-200 dark:bg-gray-700 lg:py-12 lg:flex lg:justify-center">
  <div class="bg-gray-100 dark:bg-gray-900 lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg flex-row-reverse">
    <div class="lg:w-1/2">
      <div class="h-64 bg-cover lg:rounded-lg lg:h-full"
        style="background-image:url('{{ site.baseurl }}/assets/images/writing.jpg')"></div>
    </div>
    <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100 md:text-3xl">
        Books
      </h2>
      <p class="mt-4 text-gray-600 dark:text-gray-300">
        Learn more about what I am writing. It can be about anything I want to
        write about but I do prefer the novels and books. If you have any
        comments about my writing, please let me know !
      </p>
      <div class="mt-8">
        <a href="/books/"
          class="px-5 py-2 font-semibold transition-colors duration-200 transform rounded-md text-gray-50 bg-blue-600 hover:bg-blue-500">
          Discover my books</a>
      </div>
    </div>
  </div>
</section>
<div class="bg-gray-200 dark:bg-gray-700" aria-hidden="true">
  <svg class="fill-current text-gray-100 dark:text-gray-800" version="1.1" xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 100" preserveAspectRatio="none">
    <path
      d="M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z">
    </path>
  </svg>
</div>
<section class="bg-gray-100 dark:bg-gray-800 lg:py-12 lg:flex lg:justify-center">
  <div class="bg-gray-100 dark:bg-gray-900 lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg">
    <div class="lg:w-1/2">
      <div class="h-64 bg-cover lg:rounded-lg lg:h-full"
        style="background-image:url('{{ site.baseurl }}/assets/images/games.jpg')"></div>
    </div>
    <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100 md:text-3xl">
        Games
      </h2>
      <p class="mt-4 text-gray-600 dark:text-gray-300">
        Learn more about the games I play everyday. From tabletop to video
        games, I play a large range of games. I am also a member of a gaming
        association, so if you are interested, join us !
      </p>
      <div class="mt-8">
        <a href="/games/"
          class="px-5 py-2 font-semibold transition-colors duration-200 transform rounded-md text-gray-50 bg-blue-600 hover:bg-blue-500">
          Discover my games
        </a>
      </div>
    </div>
  </div>
</section>