---
layout: default
---

<div class="container px-12 mx-auto">
  <div class="my-8 divide-y-2 divide-gray-100">
    <article class="prose dark:prose-light sm:prose-sm lg:prose-lg xl:prose-xl">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      <section>
        <p>
          <ul>
            <li>
              <a href="https://github.com/Atem18/kraky">Kraky</a> : Python asyncio client for Kraken API REST and Kraken Websockets API using httpx and websockets
            </li>
          </ul>
        </p>
      </section>
      <footer></footer>
    </article>
  </div>
</div>