---
layout: default
---

<div class="container px-12 mx-auto">
  <div class="my-8 divide-y-2 divide-gray-100">
    <article class="prose dark:prose-light sm:prose-sm lg:prose-lg xl:prose-xl">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      <section>
        <p>
          <ul>
            {% for project in site.data.projects %}
            <li>
              <a href="{{ project.url }}">{{ project.title }}</a>: {{ project.description }}
            </li>
            {% endfor %}
          </ul>
        </p>
      </section>
      <footer></footer>
    </article>
  </div>
</div>