<script type="text/javascript">
    /* First CSS File */
    var giftofspeed = document.createElement('link');
    giftofspeed.rel = 'stylesheet';
    giftofspeed.href = "{{ '/assets/css/main.css' | relative_url }}";
    giftofspeed.type = 'text/css';
    var godefer = document.getElementsByTagName('link')[0];
    godefer.parentNode.insertBefore(giftofspeed, godefer);
    /* Second CSS File */
    var giftofspeed2 = document.createElement('link');
    giftofspeed2.rel = 'stylesheet';
    giftofspeed2.href = "{{ '/assets/css/cookieconsent.min.css' | relative_url }}";
    giftofspeed2.type = 'text/css';
    var godefer2 = document.getElementsByTagName('link')[0];
    godefer2.parentNode.insertBefore(giftofspeed2, godefer2);
</script>

<link rel="stylesheet" type="text/css" href="{{ '/assets/css/cookieconsent.min.css' | relative_url }}">
<script defer src="{{ '/assets/js/cookieconsent.min.js' | relative_url }}"></script>
<script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000"
        },
        "button": {
          "background": "#f1d600"
        }
      }
    })});
</script>