[Unit]
Description=Nginx web server
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull nginx:latest
ExecStart=/usr/bin/docker run --name nginx --label com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy="true" -p 80:80 -p 443:443 -v /etc/nginx/conf.d:/etc/nginx/conf.d -v /etc/nginx/vhost.d:/etc/nginx/vhost.d -v /usr/share/nginx/html:/usr/share/nginx/html -v /etc/nginx/certs:/etc/nginx/certs:ro nginx:latest
ExecStop=/usr/bin/docker stop kmdotnet

[Install]
WantedBy=multi-user.target