[Unit]
Description=Nginx web server generator
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill nginx-gen
ExecStartPre=-/usr/bin/docker rm nginx-gen
ExecStartPre=/usr/bin/docker pull jwilder/docker-gen:latest
ExecStart=/usr/bin/docker run --name nginx-gen -v /etc/nginx/conf.d:/etc/nginx/conf.d -v /etc/nginx/vhost.d:/etc/nginx/vhost.d -v /usr/share/nginx/html:/usr/share/nginx/html -v /etc/nginx/certs:/etc/nginx/certs:ro -v /var/run/docker.sock:/tmp/docker.sock:ro -v /etc/nginx/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro jwilder/docker-gen:latest -notify-sighup nginx -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
ExecStop=/usr/bin/docker stop kmdotnet

[Install]
WantedBy=multi-user.target