[Unit]
Description=My personnal website
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill kmdotnet
ExecStartPre=-/usr/bin/docker rm kmdotnet
ExecStartPre=/usr/bin/docker pull atem18/kmdotnet:{{ TRAVIS_COMMIT }}
ExecStart=/usr/bin/docker run --name kmdotnet -v /etc/nginx/conf.d:/etc/nginx/conf.d -v /etc/nginx/vhost.d:/etc/nginx/vhost.d -v /usr/share/nginx/html:/usr/share/nginx/html -v /etc/nginx/certs:/etc/nginx/certs:ro -e VIRTUAL_HOST=kevin-messer.net,www.kevin-messer.net -e VIRTUAL_PORT=443 -e LETSENCRYPT_HOST=kevin-messer.net,www.kevin-messer.net -e LETSENCRYPT_EMAIL=contact@kevin-messer.net atem18/kmdotnet:{{ TRAVIS_COMMIT }}
ExecStop=/usr/bin/docker stop kmdotnet

[Install]
WantedBy=multi-user.target