[Unit]
Description=My personnal website
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill kmdotnet
ExecStartPre=-/usr/bin/docker rm kmdotnet
ExecStartPre=/usr/bin/docker pull atem18/kmdotnet:"{{ BITBUCKET_COMMIT }}"
ExecStart=/usr/bin/docker run --name kmdotnet -p 80:80 atem18/kmdotnet:"{{ BITBUCKET_COMMIT }}"
ExecStop=/usr/bin/docker stop kmdotnet

[Install]
WantedBy=multi-user.target