---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$paragraph-indent: true;

body {
    margin-bottom: 176px;
}

.sidebar__top {
    position: fixed;
    bottom: 1.5em;
    right: 2em;
    z-index: 10;
}

.tappedout_tcg {
    display: none !important;
}

.tappedout_ck {
    display: none !important;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials