<script>
  if ("serviceWorker" in navigator) {
    if (navigator.serviceWorker.controller) {
      console.log("[{{ site.title }}] active service worker found, no need to register");
    } else {
      navigator.serviceWorker
        .register("{{ site.baseurl }}/sw.js", {
          scope: "./"
        })
        .then(function (reg) {
          console.log("[{{ site.title }}] Service worker has been registered for scope: " + reg.scope);
        });
    }
  }
</script>
<link rel="stylesheet" href="{{ '/assets/css/all.min.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/cookieconsent.min.css' | relative_url }}" />
<script src="{{ '/assets/js/cookieconsent.min.js' | relative_url }}"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  }
})});
</script>